.newsroll {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    justify-content: space-between;
  }
  &-item {
    background-color: none !important;
    cursor: pointer;
    flex-basis: 100%;
    margin-top: 25px;
    @media (min-width: 768px) {
      flex-basis: 45%;
      max-width: 300px;
    }
    @media (min-width: 1024px) {
      flex-basis: 30%;
    }
    &-meta {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      a,
      span {
        line-height: 1rem;
      }
    }
    &-link {
      padding-left: 0px !important;
    }
    &-footer {
      padding: 0.6rem;
    }
    .is-featured {
      border: 1px solid #fff;
    }
  }
}
